
<!-- Start navigation -->	  
	<div class="navbar">
		<div class="nav-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav tooltips">
				<li><a href="#home" data-toggle="tooltip" data-placement="right" title="iFollow Agência Digital"><i class="icon-home"></i></a></li>
				<li><a href="#about" data-toggle="tooltip" data-placement="right" title="Empresa"><i class="icon-user"></i></a></li>
				<li><a href="#services" data-toggle="tooltip" data-placement="right" title="O que fazemos?"><i class="icon-cog"></i></a></li>			
				<li><a href="#portfolio" data-toggle="tooltip" data-placement="right" title="Nossos Trabalhos"><i class="icon-picture"></i></a></li>
				<li><a href="#blog" data-toggle="tooltip" data-placement="right" title="Acompanhe"><i class="icon-file"></i></a></li>					
				<li><a href="#contact" data-toggle="tooltip" data-placement="right" title="Fale conosco"><i class="icon-envelope"></i></a></li>
				
				<li><a href="https://facebook.com/ifollowagencia" data-toggle="tooltip" data-placement="right" title="Fanpage"><i class="icon-facebook"></i></a></li>
								
			</ul>
		</div><!-- End nav-collapse -->
	</div><!-- End navbar --> 
	<!-- End navigation -->	
	
<!-- Start wrapper -->	
<div class="wrapper">
	<!-- Start home -->
	<section id="home">
		<div id="animated-bg">
			<div id="animated-bg1" class="bg-slider"></div>
			<div id="animated-bg2" class="bg-slider"></div>
			<div id="animated-bg3" class="bg-slider"></div>
		</div>
		<div class="home-contain">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a href="#home" class="logo">
							<img src="/logo_primary.png" alt="" />

						</a>

					</div>
					<div class="col-lg-10 col-lg-offset-1">
						<div class="intro">
							<ul>
								<li>
									<p> Transforme sua <strong>empresa!</strong></p>
									<div class="clearfix"></div>
								</li>

								<li>
									<p>Estratégia para sua<strong> marca.</strong></p>
									<div class="clearfix"></div>
								</li>
							</ul>
						</div>
						<a href="#about" class="btn-cta">Conheça-nos</a>
					</div>
				</div>	
			</div>	
		</div>		
	</section>
	<!-- End home -->
	
	<!-- Start about -->
	<section id="about">
		<div class="info">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p>
						Nós estamos a <span>1 ano </span> no meio digital, transformando <span> idéias </span> e grandes <span> projetos </span>, gravando nossa marca no mercado.
						</p>
						<div class="btn-group">
							 <a href="#contact" class="btn btn-lg btn-dark">Entre em contato</a>
							 <a href="#portfolio" class="btn btn-lg btn-primary">Visualize alguns projetos</a>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="heading"><span>Mude seu <strong>negócio</strong> em <strong>3 passos</strong> </span></h4>
				</div>
				<div class="col-lg-4 text-center">
					<div class="boxed">
						<i class="icon-comments icon-rounded icon-128"></i>
						<h5>Discuta o briefing de seu negócio</h5>
						<p>
						Como está o visual de seu site? Como está o visual de seu e-commerce? Ao ser desenvolvido foi pensado em acessibilidade? Experiência do usuário? Já é constatado que um design bem desenvolvido tem o poder de incrementar em até 60% o retorno a ser gerado, deixe-nos cuidar do design de sua comunicação, para que seja fluída e que gere resultados ainda melhores!
						</p>
						
					</div>
				</div>	
				<div class="col-lg-4 text-center">
					<div class="boxed feature">
						<i class="icon-pencil icon-rounded icon-128 btn-color"></i>
						<h5>Construa seu negócio</h5>
						<p>
						Um site bem desenvolvido trará ótimos resultados. Apresentar na internet sua empresa, produtos e serviços é uma tarefa que requer planejamento. Atraente, rápido e direto, o seu site abre caminho para novos clientes e possíveis parcerias de negócio. Desenvolva seu site com uma equipe especialista na criação de sites otimizados para as buscas e obtenha resultados!
						</p>
						
					</div>
				</div>					
				<div class="col-lg-4 text-center">
					<div class="boxed">
						<i class="icon-cog icon-rounded icon-128"></i>
						<h5>Otimize seu negócio</h5>
						<p>
						Se diferenciar dos seus concorrentes e ser relevante as buscas do seu lead  é o que lhe colocará a frente de seus concorrentes, isso você já sabe, agora  o que é preciso fazer para alcançar este possível lead nós sabemos, deixa com nossa equipe a estratégia de marketing digital de sua empresa, fortaleça sua marca sendo relevante a quem busca seu produto ou serviço. Expanda seus negócios!
						</p>
						
					</div>
				</div>						
			</div>
			<div class="divider"></div>
			<div id="team" class="clearfix">
				<div class="row">
					<div class="col-lg-12">
						<h4 class="heading"><span>Nosso <strong>Time</strong> </span></h4>
						<ul id="mycarousel" class="jcarousel-skin-tango team-wrapper">
							<li>
								<div class="team-wrapper-box">
									<img src="img/team/antonio_ceo.jpg" class="img-responsive" alt="" />
									<h6>Antônio Ricardo</h6>
									<p><strong>Diretor Executivo</strong></p>
									<p><strong>Siga-me:</strong> <a href="#">@antonioricardof</a></p>
								</div>
							</li>
							<li>
								<div class="team-wrapper-box">
									<img src="img/team/leandro_cto.jpg" class="img-responsive" alt="" />
									<h6>Leandro Targa</h6>
									<p><strong>Sócio Diretor</strong></p>
									<p><strong>Siga-me:</strong> <a href="#">@targaleandro</a></p>
								</div>
							</li>
							<li>
								<div class="team-wrapper-box">
									<img src="img/team/joaoaugusto.jpg" class="img-responsive" alt="" />
									<h6>João Augusto</h6>
									<p><strong>Social Mídia</strong></p>
									<p><strong>Siga-me:</strong> <a href="#">@jbnt</a></p>
								</div>
							</li>
							<li>
								<div class="team-wrapper-box">
									<img src="img/team/igor.jpg" class="img-responsive" alt="" />
									<h6>Igor Alencar</h6>
									<p><strong>Desenvolvedor</strong></p>
									<p><strong>Siga-me:</strong> <a href="#">@igoralencar2</a></p>
								</div>
							</li>
	
							<!--<li>
								<div class="team-wrapper-box">
									<img src="img/team/wagner.jpg" class="img-responsive" alt="" style="width:270; height:360px; "/>
									<h6>Wagner Paes</h6>
									<p><strong>Diretor de Arte</strong></p>
									<p><strong>Siga-me:</strong> <a href="#">@wpaes</a></p>
								</div>
							</li>

							<li>
								<div class="team-wrapper-box">
									<img src="img/team/team8.jpg" class="img-responsive" alt="" />
									<h6>Falcão</h6>
									<p><strong>Consultor de Vendas</strong></p>
									<p><strong>Siga-me:</strong> <a href="#">@Username</a></p>
								</div>
							</li> -->									
						</ul>
					</div>			
				</div>
			</div>
		</div>		
	</section>
	<!-- End about -->

	<!-- Start services -->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="heading"><span>Amamos o que <strong></strong>  <strong>fazemos</strong></span></h4>
					<div class="flexslider services-list">
						<ul class="slides">
							<li>
								<div class="services-contain">
									<i class="icon-desktop icon-rounded icon-128 icon-white"></i>
									<h5>Missão</h5>
									<p>
									Imaginar, criar, desenvolver e surpreender você é a nossa missão com o resultado final do seu projeto.
									</p>
									
								</div>
							</li>
							<li>
								<div class="services-contain">
									<i class="icon-code icon-rounded icon-128 icon-white"></i>
									<h5>Habilidades</h5>
									<p>
									Com 99% de aprovação na primeira amostra, conseguimos reduzir o tempo dos projetos desenvolvidos.
									</p>
									
								</div>
							</li>
							<li>
								<div class="services-contain">
									<i class="icon-globe icon-rounded icon-128 icon-white"></i>
									<h5>Atendimento</h5>
									<p>
									Com atendimento exclusivo, a iFollow conta com clientes de todo Brasil.
									</p>
									
								</div>
							</li>
							<li>
								<div class="services-contain">
									<i class="icon-shield icon-rounded icon-128 icon-white"></i>
									<h5>Pensamos a sua estratégia</h5>
									<p>
									Somos uma agência que ama o que faz.
Usando a nossa criatividade, conseguimos resultados incríveis no mercado digital.
									</p>
									
								</div>
							</li>							
						</ul>
					</div>					
				</div>					
			</div>	
		</div>		
	</section>
	<!-- End about -->

	<!-- Start parallax -->
	<section class="parallax parallax-bg1">
		<div class="dark-bg" style="background:black;"></div>
		<div class="page-spacer">
			<div class="container">
				<div class="row margintop60">
					<div class="col-lg-12">
						<div class="intro spacer-contain">
							<ul>
								<li>
									<p>Conheça as nossas <strong>criações.</strong></p>
									<div class="clearfix"></div>
								</li>
								<!--
								<li>
									<p>Nossa equipe está motivada em somente encontrar o seu  <strong>sucesso.</strong></p>
									<div class="clearfix"></div>
								</li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>
	<!-- End parallax -->

	<!-- Start portfolio -->
	<section id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="heading"><span>Nossos <strong>Projetos</strong></span></h4>
					<div id="filter-bar">
						<!--<ul id="filters" class="option-set">
							<li><a href="#" class="selected" data-filter=".all">All</a></li>
							<li><a href="#" data-filter=".interface">Interface</a></li>
							<li><a href="#" data-filter=".print">Print</a></li>
							<li><a href="#" data-filter=".illustration">Illustration</a></li>
							<li><a href="#" data-filter=".branding">Branding</a></li>-->
						</ul>
					</div>						
				</div>
				 <ul id="gallery" class="clearfix">
					<li class="item col-lg-4 all interface">				
						<div class="image-wrapper">	
							<a href="img/prettyPhoto/trazcupom_j.png" data-pretty="prettyPhoto" class="zoom"></a>							
							<div class="caption-bg"></div>
							<img src="img/prettyPhoto/trazcupom_j.png" class="img-responsive" alt=""/>
						</div>
						<div class="caption-title"><h6><a href="http://www.trazcupom.com">Traz Cupom<br> O seu app de cupons gratuitos</a></h6></div>						
					</li>
					<li class="item col-lg-4 all interface">
						<div class="image-wrapper">	
							<a href="img/prettyPhoto/cml_k.png" data-pretty="prettyPhoto" class="zoom"></a>							
							<div class="caption-bg"></div>						
							<img src="img/prettyPhoto/cml_k.png" class="img-responsive" alt=""/>
						</div>
						<div class="caption-title"><h6><a href="http://www.facebook.com/proftlp">CML Educacional - UNIMES</a></h6></div>							
					</li>
					<li class="item col-lg-4 all print">
						<div class="image-wrapper">	
							<a href="img/prettyPhoto/cml_n.png" data-pretty="prettyPhoto" class="zoom"></a>							
							<div class="caption-bg"></div>						
							<img src="img/prettyPhoto/cml_n.png" class="img-responsive" alt=""/>
						</div>
						<div class="caption-title"><h6><a href="http://www.facebook.com/proftlp">UNIMES Virtual</a></h6></div>							
					</li>
					<li class="item col-lg-4 all branding">
						<div class="image-wrapper">
							<a href="img/prettyPhoto/zientia_a.png" data-pretty="prettyPhoto" class="zoom"></a>							
							<div class="caption-bg"></div>						
							<img src="img/prettyPhoto/zientia_a.png" class="img-responsive" alt=""/>
						</div>	
						<div class="caption-title"><h6><a href="http://www.zientiaeducacional.com.br">Zientia Educanional</a></h6></div>							
					</li>	
					<li class="item col-lg-4 all print">
						<div class="image-wrapper">
							<a href="img/prettyPhoto/unifly_a.png" data-pretty="prettyPhoto" class="zoom"></a>							
							<div class="caption-bg"></div>						
							<img src="img/prettyPhoto/unifly_a.png" class="img-responsive" alt=""/>
						</div>
						<div class="caption-title"><h6><a href="#">CML Educacional</a></h6></div>								
					</li><!--
					<li class="item col-lg-4 all illustration">
						<div class="image-wrapper">	
							<a href="img/gallery/img6.jpg" data-pretty="prettyPhoto" class="zoom"></a>							
							<div class="caption-bg"></div>						
							<img src="img/gallery/img6.jpg" class="img-responsive" alt=""/>
						</div>			
						<div class="caption-title"><h6><a href="detail.html">Scripta efficiendi</a></h6></div>							
					</li>
					<li class="item col-lg-4 all illustration">
						<div class="image-wrapper">	
							<a href="img/gallery/img7.jpg" data-pretty="prettyPhoto" class="zoom"></a>							
							<div class="caption-bg"></div>						
							<img src="img/gallery/img7.jpg" class="img-responsive" alt=""/>
						</div>
						<div class="caption-title"><h6><a href="detail.html">Timeam inermis</a></h6></div>							
					</li>
					<li class="item col-lg-4 all branding">
						<div class="image-wrapper">
							<a href="img/gallery/img8.jpg" data-pretty="prettyPhoto" class="zoom"></a>							
							<div class="caption-bg"></div>						
							<img src="img/gallery/img8.jpg" class="img-responsive" alt=""/>
						</div>	
						<div class="caption-title"><h6><a href="detail.html">Brute vituperata</a></h6></div>							
					</li>	
					<li class="item col-lg-4 all interface">
						<div class="image-wrapper">
							<a href="img/gallery/img9.jpg" data-pretty="prettyPhoto" class="zoom"></a>							
							<div class="caption-bg"></div>						
							<img src="img/gallery/img9.jpg" class="img-responsive" alt=""/>
						</div>		
						<div class="caption-title"><h6><a href="detail.html">Deleniti inciderint</a></h6></div>							
					</li>	-->				
				</ul>							
			</div>	
		</div>		
	</section>
	<!-- End portfolio -->
	
	<!-- Start blog -->
	<section id="blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="heading gray-bg"><span> <strong></strong> <strong>blog</strong></span></h4>
				</div>

				<!-- Looping for posts -->
				<% @read_posts.each do |post| %>
				<div class="col-lg-3 clearfix">
					<div class="date-post">
						<%= post.date.strftime('%d') %> <%= post.date.strftime('%b') %><br />
						<%= post.date.strftime('%Y') %>
					</div>
					<div class="article-wrapper">
						<div class="article-head"><h5><a href="#"><%= post.title %></a></h5><span></span></div>
						<p>
						<%= post.description %>
						</p>							
					</div>
					<div class="more-wrapper"><a href="singlepost.html" class="read-more">Ler Post</a></div>
				</div>		
				<% end %>
			 <!-- End looping posts -->
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="divider gray-bg"></div>
				</div>
				<div class="col-lg-8 col-lg-offset-2 text-center">					
					<a href="blog.html" class="btn btn-lg btn-dark btn-block">Ver mais postagens</a>
				</div>
			</div>
		</div>		
	</section>
	<!-- End blog -->

	<!-- Start parallax -->
	<section class="parallax parallax-bg2">
		<div class="dark-bg" style="background:#ccc;"></div>
		<div class="page-spacer">
			<div class="container">
				<div class="row margintop60">
					<div class="col-lg-12">
						<div class="intro spacer-contain">
							<ul>
								<li>
									<p>Ficamos contentes com sua <strong>visita!</strong> Volte  <strong>sempre :)</strong></p>
									<div class="clearfix"></div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</section>
	<!-- End parallax -->
	
	<!-- Start contact -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h4 class="heading"><span>Envie um email  <strong>agora</strong> mesmo <strong></strong></span></h4>
				</div>			
				<div class="col-lg-8 col-lg-offset-2">
					<form id="contactform" action="http://99webpage.com/theme-review/html/voddol/red/contact/contact.php" method="post" class="validateform" name="leaveContact">
						<div id="sendmessage">
							<div class="alert alert-info marginbot35">
								 <button type="button" class="close" data-dismiss="alert">&times;</button>
								 <strong>Your message has been sent. Thank you!</strong><br />
								 Ut augue minim iuvaret eos, mei falli timeam ceteros ut. Qui et choro ubique denique, vim ei accumsan deseruisse argumentum.
							</div>							
						</div>								
						<ul class="listForm">
							<li>
								<label>Seu Nome <span>&#40; *Obrigatório &#41;</span></label>
								<input class="form-control" type="text" name="name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />									
								<div class="validation"></div>
							</li>
							<li>
								<label>Seu Email <span>&#40; *Obrigatório &#41;</span></label>
								<input class="form-control" type="text" name="email" data-rule="email" data-msg="Please enter a valid email" />										
								<div class="validation"></div>
							</li>
							<li>
								<label>Sua Mensagem <span>&#40; *Obrigatório &#41;</span></label>
								<textarea class="form-control" rows="6" name="message" data-rule="required" data-msg="Please write something for us"></textarea>												
								<div class="validation"></div>
							</li>
							<li>
								<input type="submit" value="Enviar Mensagem" class="btn btn-lg btn-dark btn-block" name="Submit" />
							</li>
						</ul>
					</form>	
					<div class="contact-detail">
						<p>
							<strong>Estamos na:</strong> Rua Dom Aquino, 2045 - Sala 03 <br />
							<strong>Email :</strong> contato@ifollowagencia.com.br 
							<strong>Telefone :</strong> +55 3027 3547							
						</p>					
					</div>						
				</div>			
			</div>	
		</div>		
	</section>
	<!-- End contact -->

	<!-- Start footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<a href="#home"><img src="/w_footer.png" alt="" ></a>
					<p>2013 &copy; Copyright <a href="www.ifollowagencia.com.br">iFollow Agência</a>. Todos os direitos reservados.</p>
				</div>			
			</div>	
		</div>		
	</footer>
	<!-- End footer -->
</div>
<!-- End wrapper -->

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="/js/jquery.js"></script>
	
	<!-- JavaScript easing plugins -->
	<script src="/js/jquery.easing.1.3.js"></script>	

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
	
	<!-- JavaScript bgSlider slider -->
	<script src="/js/bgslider/bgSlider.js"></script>			
	
	<!-- JavaScript navigation -->	
	<script src="/js/navigation/jquery.scrollTo-1.4.2-min.js"></script>
	<script src="/js/navigation/jquery.smooth-scroll.js"></script>
	<script src="/js/navigation/waypoints.min.js"></script>
	<script src="/js/navigation/navbar.js"></script>

	<!-- JavaScript parallax -->
	<script src="/js/parallax/jquery.inview.js"></script>		
	<script src="/js/parallax/nbw-parallax.js"></script>
	
	<!-- JavaScript jcarousellite -->
	<script src="/js/jcarousellite/jcarousellite_1.0.1c4.js"></script>	
	<script src="/js/jcarousellite/setting.js"></script>
	
	<!-- jcarousel slider -->
    <script src="/js/jcarousel/jquery.jcarousel.min.js"></script>
	<script src="/js/jcarousel/setting.js"></script>

	<!-- JavaScript flexslider -->
	<script src="/js/flexslider/jquery.flexslider.js"></script>	
	<script src="/js/flexslider/setting.js"></script>

	<!-- isotope -->
    <script src="/js/filter/jquery.isotope.min.js"></script>
	<script src="/js/filter/setting.js"></script>

	<!-- prettyPhoto -->
	<script src="/js/prettyPhoto/jquery.prettyPhoto.js"></script>
	<script src="/js/prettyPhoto/setting.js"></script>
	
	<!-- Contact validation js -->
    <script src="/js/validation.js"></script>

	<!-- theme option -->
	<script src="/js/theme-option/optionspanel.js"></script>
	
	<!-- Custom js -->
    <script src="/js/custom.js"></script>
	